body {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: #d8d6d6;
	padding-top: 0px
}
body {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px
}
html {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px
}
#main {
	padding-bottom: 16px;
	margin: 0px auto;
	padding-left: 0px;
	width: 950px;
	padding-right: 0px;
	background: url('../images/page-bg.jpg') repeat-y center 50%;
	padding-top: 0px
}
a {
	outline-style: none;
	outline-color: invert;
	outline-width: medium
}
p {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px
}
#content span {
	padding-bottom: 0px;
	line-height: 35px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color: #ff9900;
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px
}
#header {
	padding-bottom: 0px;
	margin: 0px auto;
	padding-left: 0px;
	width: 908px;
	padding-right: 0px;
	height: 176px;
	padding-top: 0px
}
#logo-info {
	position: relative;
	padding-bottom: 0px;
	margin: 0px auto;
	padding-left: 0px;
	width: 908px;
	padding-right: 0px;
	height: 123px;
	padding-top: 0px
}
.logindropdown {
	position: absolute;
	right: 12px;
	top: 50px;
	z-index: 11;
}
.loginbutton {
	position: absolute;
	right: 130px;
	top: 50px;
	z-index: 11;
}
.logindropdown2 {
	position:absolute;
	right:0px;
	top:5px;
	z-index:11;
}
#top-nav2 {
	position: absolute;
	padding-bottom: 0px;
	line-height: 16px;
	padding-left: 6px;
	width: 172px;
	padding-right: 10px;
	font-family: arial, helvetica, sans-serif;
	height: 11px;
	color: #516774;
	font-size: 11px;
	top: 26px;
	padding-top: 0px;
	left: 570px;
}
#top-social {
	position: absolute;
	border-bottom-style: none;
	border-right-style: none;
	width: 180px;
	font-family: arial, helvetica, sans-serif;
	border-top-style: none;
	height: 0px;
	color: #ffffff;
	font-size: 11px;
	border-left-style: none;
	top: 90px;
	right: 30px;
	text-decoration: none
}
#top-nav {
	position: absolute;
	padding: 0px;
	line-height: 16px;
	width: 250px;
	font-family: arial, helvetica, sans-serif;
	color: #516774;
	font-size: 11px;
	top: 26px;
	padding-top: 0px;
	left: 648px;
	text-align:right;
}
#top-navLogo span {	
		
	font-family: arial, helvetica, sans-serif;	
	top: 15px;
	padding-top: 15px;	
	
}
#top-nav a {
	padding-bottom: 0px;
	line-height: 16px;
	padding-left: 6px;
	padding-right: 10px;
	font-family: arial, helvetica, sans-serif;
	color: #516774;
	font-size: 11px;
	text-decoration: none;
	padding-top: 0px
}

#bottom-star span {
	padding-bottom: 0px;
	line-height: 16px;
	padding-left: 15px;
	margin-left:15Px;
	padding-right: 10px;
	font-family: arial, helvetica, sans-serif;
	color: #516774;
	font-size: 11px;
	text-decoration: none;
	padding-top: 0px
}

#top-nav a:hover {
	color: #f96c1c
}
#support {
	position: absolute;
	top: 100px;
	right: 10px
}
#navigation {
	padding:0px; margin: 0px auto;
	width: 908px;
	height: 37px;
	background:url('../images/navigation.jpg') no-repeat top left;
}
#navigation ul {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px
}
#navigation ul li {
	padding-bottom: 0px;
	display:block;
	text-align:center;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
	line-height:37px;
	list-style:none;
	padding-top: 0px
}
#navigation ul li a {
	display:block;
	text-align:center;
	padding-bottom: 0px;
	line-height:37px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-decoration: none;
	padding-top: 0px
}
#navigation ul li strong {
	visibility: hidden
}

#nav1 {
	WIDTH: 88px; BACKGROUND: url(../images/home.jpg) no-repeat left top; HEIGHT: 37px
}
#nav1 A {
	WIDTH: 88px; BACKGROUND: url(../images/home.jpg) no-repeat left top; HEIGHT: 37px
}
#nav1 A:hover {
	BACKGROUND: url(../images/home-h.jpg) no-repeat left top
}
#nav1 A.select {
	BACKGROUND: url(../images/home-h.jpg) no-repeat left top
}
#nav2 {
	WIDTH: 96px; BACKGROUND: url(../images/services.jpg) no-repeat left top; HEIGHT: 37px
}
#nav2 A {
	WIDTH: 96px; BACKGROUND: url(../images/services.jpg) no-repeat left top; HEIGHT: 37px
}
#nav2 A:hover {
	BACKGROUND: url(../images/services-h.jpg) no-repeat left top
}
#nav2 A.select {
	BACKGROUND: url(../images/services-h.jpg) no-repeat left top
}
#nav3 {
	WIDTH: 197px; BACKGROUND: url(../images/tools.jpg) no-repeat left top; HEIGHT: 37px
}
#nav3 A {
	WIDTH: 197px; BACKGROUND: url(../images/tools.jpg) no-repeat left top; HEIGHT: 37px
}
#nav3 A:hover {
	BACKGROUND: url(../images/tools-h.jpg) no-repeat left top
}
#nav3 A.select {
	BACKGROUND: url(../images/tools-h.jpg) no-repeat left top
}
#nav4 {
	WIDTH: 160px; BACKGROUND: url(../images/news.jpg) no-repeat left top; HEIGHT: 37px
}
#nav4 A {
	WIDTH: 160px; BACKGROUND: url(../images/news.jpg) no-repeat left top; HEIGHT: 37px
}
#nav4 A:hover {
	BACKGROUND: url(../images/news-h.jpg) no-repeat left top
}
#nav4 A.select {
	BACKGROUND: url(../images/news-h.jpg) no-repeat left top
}
#nav5 {
	WIDTH: 54px; BACKGROUND: url(../images/nav-faq.jpg) no-repeat left top; HEIGHT: 37px
}
#nav5 A {
	WIDTH: 54px; BACKGROUND: url(../images/nav-faq.jpg) no-repeat left top; HEIGHT: 37px
}
#nav5 A:hover {
	BACKGROUND: url(../images/nav-faq-hover.jpg) no-repeat left top
}
#nav5 A.select {
	BACKGROUND: url(../images/nav-faq-hover.jpg) no-repeat left top
}
#nav6 {
	WIDTH: 98px; BACKGROUND: url(../images/nav-right.jpg) no-repeat left top; HEIGHT: 37px
}
#nav-partnership {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 135px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/nav-partnerships.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}
#nav-partnership A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 135px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/nav-partnerships.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}
#nav-partnership A:hover {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 135px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/nav-partnerships-hover.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}
#nav-partnership A.select {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 135px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/nav-partnerships-hover.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}
#nav-blog {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/nav-blog.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}
#nav-blog A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/nav-blog.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}
#nav-blog A:hover {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/nav-blog-hover.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}
#nav-blog A.select {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/nav-blog-hover.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}

#nav-blank {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px;  WIDTH: 160px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/blank.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}
#nav-blank A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 160px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/blank.jpg) no-repeat left top; HEIGHT: 37px; PADDING-TOP: 0px
}



#center {
	padding-bottom: 0px;
	margin: 0px auto;
	padding-left: 0px;
	width: 908px;
	padding-right: 0px;
	padding-top: 0px
}
.clear {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	clear: both;
	padding-top: 0px
}
#flash {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 659px;
	padding-right: 0px;
	float: left;
	height: 191px;
	padding-top: 0px
}
#right-tab {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 234px;
	padding-right: 0px;
	float: right;
	padding-top: 0px
}
#right-tab ul {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px
}
#right-tab ul li {
	padding:0px; list-style-type: none;
	margin: 0px;
	list-style-image: url('none');
	
}
#right-tab ul li a {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display: block;
	text-decoration: none;
	padding-top: 0px
}
#right-tab ul li strong {
	visibility: hidden
}
#free-trials {
	width: 234px;
	background: url('../images/fre-tria.jpg') no-repeat left top;
	height: 98px
}
#free-trials a {
	width: 234px;
	background: url('../images/fre-tria.jpg') no-repeat left top;
	height: 98px
}
#free-trials a:hover {
	width: 234px;
	background: url('../images/fre-tria-h.jpg') no-repeat left top;
	height: 98px
}
#testimonials {
	width: 234px;
	background: url('../images/testimonials.jpg') no-repeat left top;
	height: 79px
}
#testimonials a {
	width: 234px;
	background: url('../images/testimonials.jpg') no-repeat left top;
	height: 79px
}
#testimonials a:hover {
	width: 234px;
	background: url('../images/testimonials-h.jpg') no-repeat left top;
	height: 79px
}
.gap {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 13px;
	padding-top: 0px
}
#navigate {
	padding-bottom: 0px;
	margin: 0px auto;
	padding-left: 0px;
	width: 908px;
	padding-right: 0px;
	height: 76px;
	padding-top: 0px
}
#navigate ul {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px
}
#navigate ul li {
	padding:0px; list-style-type: none;
	margin: 0px;
	float: left;
	list-style-image: url('none');
	
}
#navigate ul li a {
	text-align: center;
	padding-bottom: 0px;
	line-height: 76px;
	margin: 0px;
	padding-left: 0px;
	width: 169px;
	padding-right: 0px;
	display: block;
	height: 76px;
	text-decoration: none;
	padding-top: 0px
}
#navigate ul li strong {
	visibility: hidden
}
#secure-6 {
	width: 169px;
	background: url('../images/securedox-5-h.jpg') no-repeat left top;
	height: 76px
}
#secure-6 a {
	width: 169px;
	background: url('../images/securedox-5-h.jpg') no-repeat left top;
	height: 76px
}
#secure-6 a:hover {
	background: url('../images/securedox-5-h.jpg') no-repeat left top; 
}
#secure-2 {
	width: 169px;
	background: url('../images/secure-2.jpg') no-repeat left top;
	height: 76px
}
#secure-2 a {
	width: 169px;
	background: url('../images/secure-2.jpg') no-repeat left top;
	height: 76px
}
#secure-2 a:hover {
	background: url('../images/secure-2-ho.jpg') no-repeat left top; 
}
#secure-3 {
	width: 169px;
	background: url('../images/secure-3.jpg') no-repeat left top;
	height: 76px
}
#secure-3 a {
	width: 169px;
	background: url('../images/secure-3.jpg') no-repeat left top;
	height: 76px
}
#secure-3 a:hover {
	background: url('../images/secure-3-ho.jpg') no-repeat left top; 
}
#secure-4 {
	width: 169px;
	background: url('../images/secure-4.jpg') no-repeat left top;
	height: 76px
}
#secure-4 a {
	width: 169px;
	background: url('../images/secure-4.jpg') no-repeat left top;
	height: 76px
}
#secure-4 a:hover {
	background: url('../images/secure-4-ho.jpg') no-repeat left top; 
}
#secure-5 {
	width: 169px;
	background: url('../images/secure-5.jpg') no-repeat left top;
	height: 76px
}
#secure-5 a {
	width: 169px;
	background: url('../images/secure-5.jpg') no-repeat left top;
	height: 76px
}
#secure-5 a:hover {
	background: url('../images/secure-5-ho.jpg') no-repeat left top; 
}

.gap2 {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 16px;
	padding-right: 0px;
	padding-top: 0px
}
.gap3 {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 15px;
	padding-right: 0px;
	padding-top: 0px
}
.gap4 {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 6px;
	padding-top: 0px
}
.gap5 {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 8px;
	padding-top: 0px
}
.gap6 {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 2px;
	padding-top: 0px
}
#centerr {
	padding-bottom: 0px;
	margin: 0px auto;
	padding-left: 0px;
	width: 908px;
	padding-right: 0px;
	padding-top: 0px
}
#side-side {
	text-align: center;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 236px;
	padding-right: 0px;
	float: right;
	padding-top: 0px
}

#side-asc {
	text-align: center;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 236px;
	padding-right: 0px;
	float: right;
	padding-top: 0px
}

#side-side2 {
	text-align: center;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 236px;
	padding-right: 0px;
	float: left;
	padding-top: 0px
}
#side-side a {
	text-decoration: none
}
#side-side2 a {
	text-decoration: none
}
#side-side strong {
	visibility: hidden
}
#side-side2 strong {
	visibility: hidden
}
#newsletter {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 236px;
	padding-right: 0px;
	background: url('../images/form-bg.jpg') no-repeat left top;
	height: 76px;
	padding-top: 78px
}
#newsletter2 {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 234px;
	padding-right: 0px;
	background: url('../images/side-6.jpg') no-repeat left top;
	height: 66px;
	padding-top: 45px
}
h2 {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "myriad pro cond", arial;
	color: #438cb7;
	font-size: 20px;
	padding-top: 0px
}
.input {
	border-bottom: #b8afa7 1px solid;
	border-left: #b8afa7 1px solid;
	padding-bottom: 0px;
	margin: 0px auto;
	padding-left: 0px;
	width: 187px;
	padding-right: 0px;
	height: 21px;
	border-top: #b8afa7 1px solid;
	border-right: #b8afa7 1px solid;
	padding-top: 0px
}
.input input {
	border-bottom: medium none;
	border-left: #e0e0e0 2px solid;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 185px;
	padding-right: 0px;
	height: 18px;
	border-top: #e0e0e0 2px solid;
	border-right: medium none;
	padding-top: 0px
}
.input2 {
	padding-bottom: 0px;
	margin: 0px auto;
	outline-style: none;
	outline-color: invert;
	padding-left: 0px;
	outline-width: medium;
	width: 132px;
	padding-right: 0px;
	height: 29px;
	padding-top: 0px
}
#whitepaper {
	width: 234px;
	display: block;
	background: url('../images/white-paper.jpg') no-repeat left top;
	height: 83px
}
#whitepaper a {
	width: 234px;
	display: block;
	background: url('../images/white-paper.jpg') no-repeat left top;
	height: 83px
}
#whitepaper a:hover {
	width: 234px;
	display: block;
	background: url('../images/white-paper-h.jpg') no-repeat left top;
	height: 83px
}
#whitepaper2 {
	width: 234px;
	display: block;
	background: url('../images/side-7.jpg') no-repeat left top;
	height: 83px
}
#whitepaper2 a {
	width: 234px;
	display: block;
	background: url('../images/side-7.jpg') no-repeat left top;
	height: 83px
}
#whitepaper2 a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-7-h.jpg') no-repeat left top;
	height: 83px
}
#whitepaper2 a.select {
	width: 234px;
	display: block;
	background: url('../images/side-7-h.jpg') no-repeat left top;
	height: 83px
}
#free2 {
	width: 234px;
	display: block;
	background: url('../images/side-8.jpg') no-repeat left top;
	height: 69px
}
#free2 a {
	width: 234px;
	display: block;
	background: url('../images/side-8.jpg') no-repeat left top;
	height: 69px
}
#free2 a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-8-h.jpg') no-repeat left top;
	height: 69px
}
#free2 a.select {
	width: 234px;
	display: block;
	background: url('../images/side-8-h.jpg') no-repeat left top;
	height: 69px
}
#test {
	width: 234px;
	display: block;
	background: url('../images/side-9.jpg') no-repeat left top;
	height: 64px
}
#test a {
	width: 234px;
	display: block;
	background: url('../images/side-9.jpg') no-repeat left top;
	height: 64px
}
#test a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-9-h.jpg') no-repeat left top;
	height: 64px
}
#test a.select {
	width: 234px;
	display: block;
	background: url('../images/side-9-h.jpg') no-repeat left top;
	height: 64px
}
#securi {
	width: 234px;
	display: block;
	background: url('../images/side-10.jpg') no-repeat left top;
	height: 97px
}
#securi a {
	width: 234px;
	display: block;
	background: url('../images/side-10.jpg') no-repeat left top;
	height: 97px
}
#securi a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-10-h.jpg') no-repeat left top;
	height: 97px
}
#securi a.select {
	width: 234px;
	display: block;
	background: url('../images/side-10-h.jpg') no-repeat left top;
	height: 97px
}
#securi1 {
	width: 234px;
	display: block;
	background: url('../images/side-1.jpg') no-repeat left top;
	height: 39px
}
#securi1 a {
	width: 234px;
	display: block;
	background: url('../images/side-1.jpg') no-repeat left top;
	height: 39px
}
#securi1 a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-1-h.jpg') no-repeat left top;
	height: 39px
}
#securi1 a.select {
	width: 234px;
	display: block;
	background: url('../images/side-1-h.jpg') no-repeat left top;
	height: 39px
}
#securi2 {
	width: 234px;
	display: block;
	background: url('../images/side-2.jpg') no-repeat left top;
	height: 39px
}
#securi2 a {
	width: 234px;
	display: block;
	background: url('../images/side-2.jpg') no-repeat left top;
	height: 39px
}
#securi2 a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-2-h.jpg') no-repeat left top;
	height: 39px
}
#securi2 a.select {
	width: 234px;
	display: block;
	background: url('../images/side-2-h.jpg') no-repeat left top;
	height: 39px
}
#securi3 {
	width: 234px;
	display: block;
	background: url('../images/side-3.jpg') no-repeat left top;
	height: 39px
}
#securi3 a {
	width: 234px;
	display: block;
	background: url('../images/side-3.jpg') no-repeat left top;
	height: 39px
}
#securi3 a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-3-h.jpg') no-repeat left top;
	height: 39px
}
#securi3 a.select {
	width: 234px;
	display: block;
	background: url('../images/side-3-h.jpg') no-repeat left top;
	height: 39px
}
#securi4 {
	width: 234px;
	display: block;
	background: url('../images/side-4.jpg') no-repeat left top;
	height: 39px
}
#securi4 a {
	width: 234px;
	display: block;
	background: url('../images/side-4.jpg') no-repeat left top;
	height: 39px
}
#securi4 a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-4-h.jpg') no-repeat left top;
	height: 39px
}
#securi4 a.select {
	width: 234px;
	display: block;
	background: url('../images/side-4-h.jpg') no-repeat left top;
	height: 39px
}
#securi5 {
	width: 234px;
	display: block;
	background: url('../images/side-5-flow.jpg') no-repeat left top;
	height: 39px
}
#securi5 a {
	width: 234px;
	display: block;
	background: url('../images/side-5-flow.jpg') no-repeat left top;
	height: 39px
}
#securi5 a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-5-flow-ho.jpg') no-repeat left top;
	height: 39px
}
#securi5 a.select {
	width: 234px;
	display: block;
	background: url('../images/side-5-flow-ho.jpg') no-repeat left top;
	height: 39px
}

#securi5d {
	width: 234px;
	display: block;
	background: url('../images/side-5.jpg') no-repeat left top;
	height: 39px
}
#securi5d a {
	width: 234px;
	display: block;
	background: url('../images/side-5.jpg') no-repeat left top;
	height: 39px
}
#securi5d a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-5-h.jpg') no-repeat left top;
	height: 39px
}
#securi5d a.select {
	width: 234px;
	display: block;
	background: url('../images/side-5-h.jpg') no-repeat left top;
	height: 39px
}


#securi6 {
	width: 234px;
	display: block;
	background: url('../images/secure_mobile.jpg') no-repeat left top;
	height: 39px
}
#securi6 a {
	width: 234px;
	display: block;
	background: url('../images/secure_mobile.jpg') no-repeat left top;
	height: 39px
}
#securi6 a:hover {
	width: 234px;
	display: block;
	background: url('../images/secure_mobile-h.jpg') no-repeat left top;
	height: 39px
}
#securi6 a.select {
	width: 234px;
	display: block;
	background: url('../images/secure_mobile-h.jpg') no-repeat left top;
	height: 39px
}
#securitys {
	width: 234px;
	display: block;
	background: url('../images/side-10.jpg') no-repeat left top;
	height: 104px
}
#securitys a {
	width: 234px;
	display: block;
	background: url('../images/side-10.jpg') no-repeat left top;
	height: 104px
}
#securitys a:hover {
	width: 234px;
	display: block;
	background: url('../images/side-10-h.jpg') no-repeat left top;
	height: 104px
}

#editing{
	width: 234px;
	display: block;
	background: url('../images/editing.jpg') no-repeat left top;
	height: 104px
}
#editing a {
	width: 234px;
	display: block;
	background: url('../images/editing.jpg') no-repeat left top;
	height: 104px
}
#editing a:hover {
	width: 234px;
	display: block;
	background: url('../images/editing-h.jpg') no-repeat left top;
	height: 104px
}



#asc {
	width: 234px;
	display: block;
	background: url('../images/asc.jpg') no-repeat left top;
	height: 104px
}
#asc a {
	width: 234px;
	display: block;
	background: url('../images/asc.jpg') no-repeat left top;
	height: 104px
}
#asc a:hover {
	width: 234px;
	display: block;
	background: url('../images/asc-h.jpg') no-repeat left top;
	height: 104px
}


#left-side {
	
	
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 15px;
	font-family: tahoma, helvetica, sans-serif;
}
#left-side a {
	color: #4848fe;
	text-decoration: underline
}
#left-side a:hover {
	color: #7070fe;
	text-decoration: underline
}
#footer {
	padding:0px; margin: 0px auto;
	width: 950px;
	background: url('../images/footer-repet.jpg') repeat-x 50% top;
	
}
#left-shadow {
	width: 16px;
	background: url('../images/left-shadow.jpg') no-repeat left top;
	float: left;
	height: 76px
}
#right-shadow {
	width: 16px;
	background: url('../images/right-shadow.jpg') no-repeat left top;
	float: left;
	height: 76px
}
#footercontent {
	text-align: center;
	width: 918px;
	font-family: arial, helvetica, sans-serif;
	float: left;
	height: 76px;
	color: #5f2c10;
	font-size: 10px
}
#footercontent a {
	padding-bottom: 0px;
	line-height: 76px;
	margin: 0px;
	padding-left: 14px;
	padding-right: 16px;
	font-family: arial, helvetica, sans-serif;
	color: #5f2c10;
	font-size: 10px;
	text-decoration: none;
	padding-top: 0px
}
#footercontent a:hover {
	color: #f37b1d
}
#logo-content {
	padding-bottom: 0px;
	margin: 0px auto;
	padding-left: 0px;
	width: 950px;
	padding-right: 0px;
	padding-top: 0px;
	
}
a {
	outline-style: none;
	outline-color: invert;
	outline-width: medium;
	text-decoration: none
}
#copyright {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 25px;
	padding-right: 0px;
	font-family: arial, helvetica, sans-serif;
	color: #4d3319;
	font-size: 12px;
	font-weight: bold;
	padding-top: 3px
}
#copyright a {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: arial, helvetica, sans-serif;
	color: #4d3319;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding-top: 0px
}
#copyright a:hover {
	color: #f37b1d
}
#text {
	line-height: 21px;
	font-family: tahoma, helvetica, sans-serif;
	color: #4b3c28;
	font-size: 13px
}
#text strong span {
	padding-bottom: 0px;
	line-height: 19px;
	margin: 0px;
	padding-left: 15px;
	padding-right: 0px;
	font-family: tahoma, helvetica, sans-serif;
	color: rgb(255, 102, 0);
	font-size: 20px;
	padding-top: 0px
	
	
}
#textBlue strong span {
	padding-bottom: 0px;
	line-height: 19px;
	margin: 0px;
	padding-left: 15px;
	padding-right: 0px;
	font-family: tahoma, helvetica, sans-serif;
	color: rgb(0, 112, 192);
	font-size: 20px;
	padding-top: 0px
	
	
}
#textBlue p {
	padding-bottom: 15px;
	line-height: 19px;
	padding-left: 15px;
	padding-right: 0px;
	font-family: tahoma, helvetica, sans-serif;
	color: #4b3c28;
	font-size: 20px;
	padding-top: 0px
}
#textGreen strong span {
	padding-bottom: 0px;
	line-height: 19px;
	margin: 0px;
	padding-left: 15px;
	padding-right: 0px;
	font-family: tahoma, helvetica, sans-serif;
	color: rgb(146, 208, 80);
	font-size: 20px;
	padding-top: 0px
	
	
}
#textGreen p {
	padding-bottom: 15px;
	line-height: 19px;
	padding-left: 15px;
	padding-right: 0px;
	font-family: tahoma, helvetica, sans-serif;
	color: #4b3c28;
	font-size: 20px;
	padding-top: 0px
}
#text p {
	padding-bottom: 15px;
	line-height: 19px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: tahoma, helvetica, sans-serif;
	color: #4b3c28;
	font-size: 20px;
	padding-top: 0px
}
#text ul {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 15px;
	padding-right: 0px;
	padding-top: 0px
}
#text ul li {
	padding-bottom: 10px;
	line-height: 21px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 0px;
	font-family: tahoma, helvetica, sans-serif;
	color: #4b3c28;
	font-size: 13px;
	list-style-image: url('../images/bullet.gif');
	padding-top: 0px
}
#text a {
	color: #4848fe;
	text-decoration: underline
}
#text a:hover {
	color: #7070fe;
	text-decoration: underline
}
#text h1 {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "myriad pro cond", arial;
	color: #438cb7;
	font-size: 35px;
	padding-top: 0px
}
#text h3 {
	padding-bottom: 8px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "myriad pro cond", arial;
	font-size: 18px;
	padding-top: 0px
}