body {
	margin:0;
	padding:0;
	background:#073e6b url(../images/bg.jpg) no-repeat top center;
	height:auto;
}

.clear {
	clear:both;
	margin:0;
	padding:0;
}
#main{
	margin:0 auto;
	padding:0;
	width:908px;
}

#wraper{
	width:908px;
	margin:0;padding:0; float:left; height:400px; margin-top:123px;
}

#logo{
	border:none; margin:0; padding:0; width:256px; height:118px; float:left; padding-left:09px;background:transperent;
}

.flash{
	margin:0; padding:0; float:left; position:relative; width:908px; height:342px; z-index:0; margin-top:10px;
}

.form-main{
	position:absolute; width:383px; height:341px; z-index:10000; background:url(../images/form-bg-reclaim.png) no-repeat left top; right:3px; top:08px;
}

.info{
	width:254px; font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:15px; border:none; background:none;
}
.input-1{
	width:254px; height:27px; line-height:25px; font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:13px; border:none; background:none;
}


.solution-health{
	width:338px; height:37px; float:left; margin:0; padding:0; padding-left:293px; padding-top:36px;
}

.copy{
	width:908px; text-align:center; font-family:Arial, Helvetica, sans-serif; color:#030d12; font-size:12px; margin-top:55px;
}
.submit-button {
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../Images/loginButtonBlank.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	border: 0 none;
	cursor: pointer;
	height: 47px;
	width: 172px;
	font-weight:300;
	font-size:18px;
	
}
.submit-button:disabled {	
    color: #fff;
    padding: 10px 40px;
    text-decoration: none;
     font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    font-weight:300;
	font-size:18px;
	background:#dddddd; 
}