vti_encoding:SR|utf8-nl
vti_author:SR|ETSWEB\\admin
vti_modifiedby:SR|ETSWEB\\admin
vti_timelastmodified:TR|17 Feb 2009 10:47:43 -0000
vti_timecreated:TR|17 Feb 2009 10:47:43 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{603B85CF-77C9-4643-9BF8-181690176EA1}
vti_backlinkinfo:VX|CustomerTroubleTicket/CIMS/IssueType.aspx
vti_cacheddtm:TX|17 Feb 2009 10:47:43 -0000
vti_filesize:IR|1158
vti_cachedlinkinfo:VX|S|../Images/header-bg.gif S|../Images/header-bg.gif S|../Images/menubg.gif S|../Images/Bottom_Background.jpg
vti_cachedsvcrellinks:VX|FSUS|CustomerTroubleTicket/CIMS/Images/header-bg.gif FSUS|CustomerTroubleTicket/CIMS/Images/header-bg.gif FSUS|CustomerTroubleTicket/CIMS/Images/menubg.gif FSUS|CustomerTroubleTicket/CIMS/Images/Bottom_Background.jpg
