vti_encoding:SR|utf8-nl
vti_author:SR|ETSWEB\\admin
vti_modifiedby:SR|ETSWEB\\admin
vti_timelastmodified:TR|17 Feb 2009 10:47:43 -0000
vti_timecreated:TR|17 Feb 2009 10:47:43 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{EB67AB13-1134-4854-8901-C578DDF02C36}
vti_backlinkinfo:VX|CustomerTroubleTicket/CIMS/CIMSUserPage.aspx CustomerTroubleTicket/CIMS/CSMainPage.aspx CustomerTroubleTicket/CIMS/IssueType.aspx CustomerTroubleTicket/CIMS/CustomerMainPage.aspx CustomerTroubleTicket/CIMS/NewTicket.aspx
vti_cacheddtm:TX|17 Feb 2009 10:47:43 -0000
vti_filesize:IR|1890
vti_cachedlinkinfo:VX|S|../Images/background_parentselected.gif S|../Images/background_parentselected.gif S|../Images/menubg.gif
vti_cachedsvcrellinks:VX|FSUS|CustomerTroubleTicket/CIMS/Images/background_parentselected.gif FSUS|CustomerTroubleTicket/CIMS/Images/background_parentselected.gif FSUS|CustomerTroubleTicket/CIMS/Images/menubg.gif
