vti_encoding:SR|utf8-nl
vti_author:SR|ETSWEB\\admin
vti_modifiedby:SR|ETSWEB\\admin
vti_timelastmodified:TR|12 Jan 2009 11:46:23 -0000
vti_timecreated:TR|12 Jan 2009 11:46:23 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{BC2B6D30-05A8-4F7D-92ED-3B9719C1E40D}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|12 Jan 2009 11:46:23 -0000
vti_filesize:IR|2400
vti_cachedlinkinfo:VX|S|images/bg_calendar.gif S|images/bg_calendar.gif S|images/bg_calendar.gif S|images/bg_calendar.gif S|images/bg_calendar.gif
vti_cachedsvcrellinks:VX|NSUS|styles/images/bg_calendar.gif NSUS|styles/images/bg_calendar.gif NSUS|styles/images/bg_calendar.gif NSUS|styles/images/bg_calendar.gif NSUS|styles/images/bg_calendar.gif
