vti_encoding:SR|utf8-nl
vti_author:SR|ETSWEB\\admin
vti_modifiedby:SR|ETSWEB\\admin
vti_timelastmodified:TR|08 Dec 2009 09:57:26 -0000
vti_timecreated:TR|08 Dec 2009 09:46:05 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{0D2A3296-9314-4720-BED9-9245D04451EB}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|08 Dec 2009 09:57:24 -0000
vti_cacheddtm:TX|08 Dec 2009 09:56:09 -0000
vti_filesize:IR|3131
vti_cachedlinkinfo:VX|S|<%=WebResource("AjaxControlToolkit.Calendar.arrow-left.gif" S|<%=WebResource("AjaxControlToolkit.Calendar.arrow-right.gif"
vti_cachedsvcrellinks:VX|USUS|<%=WebResource("AjaxControlToolkit.Calendar.arrow-left.gif" USUS|<%=WebResource("AjaxControlToolkit.Calendar.arrow-right.gif"
