vti_encoding:SR|utf8-nl
vti_author:SR|ETSWEB\\admin
vti_modifiedby:SR|ETSWEB2\\website
vti_timelastmodified:TR|04 Nov 2010 13:02:49 -0000
vti_timecreated:TR|12 Jan 2009 11:46:33 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{2BEF8DDE-1433-4E66-87F4-DBF49830D4AE}
vti_backlinkinfo:VX|LeaveAttendanceMainNew/Adminstrator/EditShift.aspx LeaveAttendanceMainNew/HBA/HBAAdmin.aspx ERSSMainNew/Admin/SearchTicketResults.aspx LeaveAttendanceMainNew/Adminstrator/AddShift.aspx LeaveAttendanceMainNew/Adminstrator/Shift.aspx LeaveAttendanceMainNew/Supervisor/AttendanceAction.aspx LeaveAttendanceMainNew/Supervisor/DutyRosterFormNew.aspx Attendance/Attendance.aspx ERSSMainNew/Admin/SearchTicketsForm.aspx LeaveAttendanceMainNew/Reports/DailyAttendance.aspx LeaveAttendanceMainNew/Supervisor/Employee.aspx
vti_nexttolasttimemodified:TW|08 Dec 2009 09:42:39 -0000
vti_cacheddtm:TX|04 Nov 2010 13:02:49 -0000
vti_filesize:IR|1389
vti_cachedlinkinfo:VX|S|../Images/background_parentselected.gif S|../Images/background_parentselected.gif S|../Images/menubg.gif
vti_cachedsvcrellinks:VX|NSUS|Images/background_parentselected.gif NSUS|Images/background_parentselected.gif NSUS|Images/menubg.gif
