vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Apr 2011 08:00:09 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{96821272-0C1F-4C4B-B315-0A4035BFFEE1}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|20 Apr 2011 08:00:09 -0000
vti_filesize:IR|2011
vti_cachedlinkinfo:VX|S|../Images/login-bg1.jpg S|../Images/input-bg1.jpg
vti_cachedsvcrellinks:VX|FSUS|Images/login-bg1.jpg FSUS|Images/input-bg1.jpg
