vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Feb 2011 12:30:04 -0000
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|Login.aspx
vti_lineageid:SR|{E443BA43-ED6E-418A-BA4D-6F20CAE63C94}
vti_cacheddtm:TX|22 Feb 2011 12:30:04 -0000
vti_filesize:IR|1108
vti_cachedlinkinfo:VX|S|../images/bg.jpg S|../images/form-bg.png
vti_cachedsvcrellinks:VX|FSUS|images/bg.jpg FSUS|images/form-bg.png
