vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Jan 2009 11:46:18 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{CD582072-E9AD-4E44-90F1-855E808232C5}
vti_backlinkinfo:VX|
vti_author:SR|ETSWEB\\admin
vti_modifiedby:SR|ETSWEB\\admin
vti_nexttolasttimemodified:TW|18 Oct 2007 22:38:52 -0000
vti_timecreated:TR|12 Jan 2009 11:46:18 -0000
vti_cacheddtm:TX|18 Oct 2007 22:38:52 -0000
vti_filesize:IR|1919
vti_cachedlinkinfo:VX|S|background_parent.gif S|background_parent.gif S|background_parentselected.gif
vti_cachedsvcrellinks:VX|FSUS|styles/pro_7/background_parent.gif FSUS|styles/pro_7/background_parent.gif FSUS|styles/pro_7/background_parentselected.gif
