vti_encoding:SR|utf8-nl
vti_author:SR|ETSWEB\\admin
vti_modifiedby:SR|ETSWEB\\admin
vti_timelastmodified:TR|12 Jan 2009 11:45:25 -0000
vti_timecreated:TR|12 Jan 2009 11:45:25 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{8DD70577-F424-4546-AB5E-F8692C718D72}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|12 Jan 2009 11:45:25 -0000
vti_filesize:IR|1200
vti_cachedlinkinfo:VX|S|../../Images/background_parentselected.gif S|../../Images/background_parentselected.gif S|../../Images/menubg.gif
vti_cachedsvcrellinks:VX|NSUS|Images/background_parentselected.gif NSUS|Images/background_parentselected.gif NSUS|Images/menubg.gif
