UL.vbULa2s6d {
	POSITION: absolute; VISIBILITY: hidden
}
.vbULa2s6d {
	BORDER-BOTTOM: #13445e 1px solid; POSITION: absolute; BORDER-LEFT: #13445e 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #89c6e7; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; VISIBILITY: hidden; FONT-SIZE: 1px; OVERFLOW: auto; BORDER-TOP: #13445e 1px solid; BORDER-RIGHT: #13445e 1px solid; PADDING-TOP: 2px
}
.vbULa2s6d TABLE {
	BORDER-SPACING: 0px; BORDER-COLLAPSE: separate
}
.vbULa2s6d TR {
	BACKGROUND-COLOR: #89c6e7; FONT-SIZE: 1px; CURSOR: pointer
}
.vbULa2s6d TR.over {
	BACKGROUND-COLOR: #279cc9
}
.vbULa2s6d TD {
	BORDER-BOTTOM: #89c6e7 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #89c6e7 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #89c6e7 1px solid; BORDER-RIGHT: #89c6e7 1px solid; PADDING-TOP: 2px
}
.vbULa2s6d TR.over TD {
	BORDER-BOTTOM-COLOR: #15546c; BORDER-TOP-COLOR: #15546c; BORDER-RIGHT-COLOR: #15546c; BORDER-LEFT-COLOR: #15546c
}
.vbULa2s6d TR TD A {
	FONT-STYLE: normal; FONT-FAMILY: Tahoma; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.vbULa2s6d TR.over A {
	FONT-STYLE: normal; FONT-FAMILY: Tahoma; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.vbULa2s6d TR.popup {
	BACKGROUND-COLOR: #279cc9
}
.vbULa2s6d TR.popup TD {
	BORDER-BOTTOM-COLOR: #15546c; BORDER-TOP-COLOR: #15546c; BORDER-RIGHT-COLOR: #15546c; BORDER-LEFT-COLOR: #15546c
}
.vbULa2s6d TR.popup A {
	FONT-STYLE: normal; FONT-FAMILY: Tahoma; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
