<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Data Source=sxfdev\sxfmain;Initial Catalog=tollfree;User ID=tollfree;Password=try!t2009" name="tollfree" />
    </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="login.aspx" />
                <add value="login.asp" />
                <add value="default.asp" />
                <add value="default.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
