.dataTables_wrapper
{
    CLEAR: both;
    MIN-HEIGHT: 302px;
    ZOOM: 1;
    POSITION: relative;
    HEIGHT: 302px
}
.dataTables_processing
{
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ddd 1px solid;
    MARGIN-TOP: -15px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 14px;
    LEFT: 50%;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: -125px;
    BORDER-LEFT: #ddd 1px solid;
    WIDTH: 250px;
    COLOR: #999;
    PADDING-TOP: 14px;
    BORDER-BOTTOM: #ddd 1px solid;
    POSITION: absolute;
    TOP: 50%;
    HEIGHT: 30px;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
.dataTables_length
{
    FLOAT: left;
    WIDTH: 40%
}
.dataTables_filter
{
    FLOAT: right;
    WIDTH: 50%;
    TEXT-ALIGN: right
}
.dataTables_info
{
    FLOAT: left;
    WIDTH: 60%
}
.dataTables_paginate
{
    FLOAT: right;
    WIDTH: 50px;
    TEXT-ALIGN: right
}
.paginate_disabled_previous
{
    FLOAT: left;
    MARGIN-LEFT: 3px;
    WIDTH: 19px;
    HEIGHT: 19px
}
.paginate_enabled_previous
{
    FLOAT: left;
    MARGIN-LEFT: 3px;
    WIDTH: 19px;
    HEIGHT: 19px
}
.paginate_disabled_next
{
    FLOAT: left;
    MARGIN-LEFT: 3px;
    WIDTH: 19px;
    HEIGHT: 19px
}
.paginate_enabled_next
{
    FLOAT: left;
    MARGIN-LEFT: 3px;
    WIDTH: 19px;
    HEIGHT: 19px
}
.paginate_disabled_previous
{
    BACKGROUND-IMAGE: url(../images/back_disabled.jpg)
}
.paginate_enabled_previous
{
    BACKGROUND-IMAGE: url(../images/back_enabled.jpg)
}
.paginate_disabled_next
{
    BACKGROUND-IMAGE: url(../images/forward_disabled.jpg)
}
.paginate_enabled_next
{
    BACKGROUND-IMAGE: url(../images/forward_enabled.jpg)
}
TABLE.display
{
    CLEAR: both;
    MARGIN: 0px auto;
    WIDTH: 100%
}
TABLE.display THEAD TH
{
    PADDING-RIGHT: 18px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    CURSOR: hand;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: black 1px solid;
    
}

TABLE.display TFOOT TH
{
    PADDING-RIGHT: 18px;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
TABLE.display TR.heading2 TD
{
    BORDER-BOTTOM: #aaa 1px solid
}
TABLE.display TD
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
TABLE.display TD.center
{
    TEXT-ALIGN: center
}
.sorting_asc
{
    BACKGROUND: url(../images/sort_asc.png) no-repeat right center
}
.sorting_desc
{
    BACKGROUND: url(../images/sort_desc.png) no-repeat right center
}
.sorting
{
    BACKGROUND: url(../images/sort_both.png) no-repeat right center
}
.sorting_asc_disabled
{
    BACKGROUND: url(../images/sort_asc_disabled.png) no-repeat right center
}
.sorting_desc_disabled
{
    BACKGROUND: url(../images/sort_desc_disabled.png) no-repeat right center
}
.dataTables_scroll
{
    CLEAR: both
}
.dataTables_scrollBody
{
    MARGIN-TOP: -1px
}
.top
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 15px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 15px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 15px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #f5f5f5
}
.bottom
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 15px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 15px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 15px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #f5f5f5
}
.top .dataTables_info
{
    FLOAT: none
}
.clear
{
    CLEAR: both
}
.dataTables_empty
{
    TEXT-ALIGN: center
}
TFOOT INPUT
{
    MARGIN: 0.5em 0px;
    WIDTH: 100%;
    COLOR: #444
}
TFOOT INPUT.search_init
{
    COLOR: #999
}
TD.group
{
    BORDER-TOP: #a19b9e 2px solid;
    BORDER-BOTTOM: #a19b9e 2px solid;
    BACKGROUND-COLOR: #d1cfd0
}
TD.details
{
    BORDER-RIGHT: #a19b9e 2px solid;
    BORDER-TOP: #a19b9e 2px solid;
    BORDER-LEFT: #a19b9e 2px solid;
    BORDER-BOTTOM: #a19b9e 2px solid;
    BACKGROUND-COLOR: #d1cfd0
}
.example_alt_pagination DIV.dataTables_info
{
    WIDTH: 40%
}
.paging_full_numbers
{
    WIDTH: 400px;
    LINE-HEIGHT: 22px;
    HEIGHT: 22px
}
.paging_full_numbers SPAN.paginate_button
{
    BORDER-RIGHT: #aaa 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #aaa 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 3px;
    BORDER-LEFT: #aaa 1px solid;
    CURSOR: hand;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #aaa 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}
.paging_full_numbers SPAN.paginate_active
{
    BORDER-RIGHT: #aaa 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #aaa 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 3px;
    BORDER-LEFT: #aaa 1px solid;
    CURSOR: hand;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #aaa 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}
TABLE.KeyTable TD
{
    BORDER-RIGHT: transparent 3px solid;
    BORDER-TOP: transparent 3px solid;
    BORDER-LEFT: transparent 3px solid;
    BORDER-BOTTOM: transparent 3px solid
}
TABLE.KeyTable TD.focus
{
    BORDER-RIGHT: #3366ff 3px solid;
    BORDER-TOP: #3366ff 3px solid;
    BORDER-LEFT: #3366ff 3px solid;
    BORDER-BOTTOM: #3366ff 3px solid
}

DIV.box
{
    BORDER-RIGHT: #8080ff 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #8080ff 1px solid;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    OVERFLOW: auto;
    BORDER-LEFT: #8080ff 1px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #8080ff 1px solid;
    HEIGHT: 100px;
    BACKGROUND-COLOR: #e5e5ff
}
